<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">SiCProductions</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a id="products" routerLink="/products">Products</a></li>
        <li *ngIf="isAuthenticatedAsCustomer()" routerLinkActive="active"><a id="Shopping List"routerLink="/shopping-list">Shopping List</a></li>
        <li *ngIf="isAuthenticatedAsOrderManager()" routerLinkActive="active"><a id="Calc Circuit"routerLink="/calc-circuit">Calc Circuit</a></li>
        <li *ngIf="isAuthenticatedAsOrderManager()" routerLinkActive="active"><a id="Assign Orders"routerLink="/assign-orders-factories">Assign Orders</a></li>
        <li *ngIf="isAuthenticatedAsContentManager()" routerLinkActive="active"><a id="Catalog"routerLink="/catalog">Catalog</a></li>
        <li *ngIf="isAuthenticatedAsContentManager()" routerLinkActive="active"><a id="Collection"routerLink="/collection">Collection</a></li>
        <li *ngIf="isAuthenticatedAsContentManager()" routerLinkActive="active"><a id="Categories"routerLink="/category">Categories</a></li>
        <li *ngIf="isAuthenticatedAsContentManager()" routerLinkActive="active"><a id="Material"routerLink="/material">Material</a></li>
        <li *ngIf="isAuthenticatedAsClericalWorker()" routerLinkActive="active"><a id="Materials and Finishes"routerLink="/materialFinish">Materials And Finishes</a></li>
        <li *ngIf="isAuthenticatedAsCustomer()" routerLinkActive="active"><a id="Order History"routerLink="/order-history">Order History</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ng-template [ngIf]="!isAuthenticated()">
          <li><a id="register" routerLink="/signup">Register</a></li>
          <li><a id="login" routerLink="/signin">Login</a></li>
        </ng-template>

        <li><a style="cursor: pointer;" id="logout"(click)="onLogout()" *ngIf="isAuthenticated()">Logout</a></li>

        <li class="dropdown" appDropdown *ngIf="isAuthenticated()">
          <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;" (click)="onSaveData()">Save Data</a></li>
            <li><a style="cursor: pointer;" (click)="onFetchData()">Fetch Data</a></li>
            <li><a id="delete" style="cursor: pointer;" (click)="onDeleteData()">Delete User</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>